<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../js/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<ul>
				<li v-for="movie in movies">
					{{ movie }}
				</li>
			</ul>
		</div>
		<div id="app2">
			<ul>
				<li v-for="city in citys">
					{{city}}
				</li>
			</ul>
		</div>
	</body>
	<script>
		const app = new Vue({
			el : "#app",
			data:{
				message:"你好啊",
				movies:[
					'海王','星际穿越','大话西游','小丑','盗梦空间'
				]
			}
		});
		const app2 = new Vue({
			el:"#app2",
			data:{
				citys:['北京','上海','深圳','广州']
			}
		})
	</script>
</html>
