<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		
	</head>
	<body>
		<div id="app">
            <!-- <h2>{{ message }}</h2> -->
            <!-- 这里添加了name属性,才会将这两个radio标签标记为同一组,产生互斥现象.否则无法产生互斥 -->
            <!-- 但是两个都经过v-model修饰后,也可以不用name属性 -->
            <label for="male">
                <input type="radio" id="male" name="sex" value="男" v-model="sex">男
            </label>
            <label for="female">
                <input type="radio" id="female" name="sex" value="女" v-model="sex">女
            </label>
            <h2>您选择的性别是：{{sex}} </h2>
		</div>
	</body>
	<script src="../js/vue.js"></script>
	<script>
		const app = new Vue({
			el:"#app",
			data:{
				message:"Hello world",
                sex:"男"    // 默认选中男，因为是双向绑定的，所以就回默认选中男
			}
		});
	</script>
</html>
